table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
  
td, th {
    width: 25%;
}
  
tr.mat-header-row {
    background-color: #9ECAE9;
}

.example-spacer {
    flex: 1 1 auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
}
  

@media only screen and (min-device-width : 640px) {
    mat-sidenav {
        width: 500px;
    }
}
.sidenav-container {
    height: 100vh;
}
mat-sidenav-content {
    padding: 10px;
}
mat-card {
    height: 100vh;
}