<div class="main-container">
    <mat-toolbar color="accent">
        <h1>Technical Test Frontend</h1>
        <span class="example-spacer"></span>
        <h2>{{user_name}}</h2>
        <button mat-icon-button matTooltip="Edit name profile" (click)="openDialog()">
            <mat-icon style="color: white">edit</mat-icon>
        </button>

        <a mat-button target="_self" matTooltip="Logout" (click)="logout()">
            <mat-icon style="color: white">exit_to_app</mat-icon>
        </a>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sidenav position="end">
            <mat-nav-list>
                <mat-card class="mat-elevation-z8" *ngIf="showSidenav">
                    <mat-card-content>
                        <mat-form-field appearance="outline">
                            <mat-label>Id</mat-label>
                            <input matInput placeholder="Placeholder" [(ngModel)]="productDetailData.id" readonly>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="Placeholder" [(ngModel)]="productDetailData.name" readonly>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Description</mat-label>
                            <input matInput placeholder="Placeholder" [(ngModel)]="productDetailData.description"
                                readonly>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Color</mat-label>
                            <input matInput placeholder="Placeholder" [(ngModel)]="productDetailData.color" readonly>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Size</mat-label>
                            <input matInput placeholder="Placeholder" [(ngModel)]="productDetailData.size" readonly>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Status</mat-label>
                            <mat-select [(ngModel)]="productDetailData.status">
                                <mat-option *ngFor="let stat of status" [value]="stat.value">
                                    {{stat.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Created at</mat-label>
                            <input matInput placeholder="Placeholder" [(ngModel)]="productDetailData.created_at"
                                readonly>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Updated at</mat-label>
                            <input matInput placeholder="Placeholder" [(ngModel)]="productDetailData.updated_at"
                                readonly>
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button color="warn" (click)="sidenav.toggle()">CLOSE</button>
                    </mat-card-actions>
                </mat-card>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Product 1" #input>
            </mat-form-field>

            <!-- Select columns to show -->
            <mat-form-field appearance="outline">
                <mat-label>Columns</mat-label>
                <mat-select [formControl]="columnsTable" (selectionChange)="updateColumnsShow()" multiple>
                    <mat-option *ngFor="let column of columnsArray" [value]="column">{{column}}</mat-option>
                </mat-select>
            </mat-form-field>

            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort id="productTable">

                    <!-- Ng For show all headers -->
                    <ng-container *ngFor="let disCol of displayedColumns; let colIndex = index"
                        matColumnDef="{{disCol}}">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{disCol}}
                            <button mat-icon-button color="accent" matTooltio="Hide column"
                                 (click)="hideColumn(colIndex)">
                                <mat-icon aria-label="Hide column">remove</mat-icon>
                            </button>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element[disCol]}}
                            <button mat-icon-button color="primary" matTooltip="View details"
                                *ngIf="colIndex == displayedColumns.length -1" (click)="openDetailsProduct(element)">
                                <mat-icon aria-label="Info">info</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>